/* Write your CSS here */
.timeline-view-container {
  min-height: 100vh;
  font-family: 'Roboto';
  text-align: center;
  margin: 20px 0px;
}

.timeline-view-title {
  color: #1e293b;
  font-size: 20px;
  font-weight: 500;
}

.ccbp {
  color: #2b237c;
  font-size: 26px;
}
