/* Write your CSS here */
.not-found-img {
  width: 80%;
  max-width: 500px;
}

.not-found-title {
  width: 80%;
  font-size: 12px;
  font-family: 'Roboto';
  text-align: center;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .not-found-title {
    font-size: 36px;
  }
}

.not-found-description {
  color: #616e7c;
  width: 80%;
  font-size: 12px;
  font-family: 'Roboto';
  text-align: center;
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .not-found-description {
    font-size: 16px;
  }
}
