/* Write your CSS here */
.planet-img {
  width: 400px;
}

.planet-name {
  color: #f8fafc;
  font-size: 36px;
  margin: 40px 0px;
}

.planet-description {
  color: #f1f5f9;
  font-size: 20px;
  text-align: center;
}
